/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #1e2642;
  font-family: "PingFangTC","Noto Sans TC";
  overflow-x: hidden; }
  body .menu-on {
    -webkit-filter: blur(0.5em);
            filter: blur(0.5em);
    opacity: 0.8; }
  body .wrap {
    margin: 0 auto;
    -webkit-transition: -webkit-filter 0.35s ease;
    transition: -webkit-filter 0.35s ease;
    transition: filter 0.35s ease;
    transition: filter 0.35s ease, -webkit-filter 0.35s ease; }
    body .wrap .top {
      height: 1px; }
    body .wrap .header {
      height: 85px;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #1e2642;
      z-index: 1000; }
      body .wrap .header .logo {
        text-indent: 110%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url(../Images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 134px;
        height: 63px;
        margin: 22px 0 0 40px;
        display: inline-block; }
        @media (max-width: 568px) {
          body .wrap .header .logo {
            margin: 22px 0 0 16px; } }
      body .wrap .header .menu {
        color: #ffffff;
        font-family: "Helvetica","";
        font-size: 15px;
        text-decoration: none;
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 50; }
        body .wrap .header .menu:hover {
          color: #e0104d;
          -webkit-transition: all .3s;
          transition: all .3s; }
        body .wrap .header .menu .menuText {
          padding-right: 13px; }
          @media (max-width: 568px) {
            body .wrap .header .menu .menuText {
              display: none; } }
    body .wrap .main {
      color: #ffffff;
      width: 80%;
      margin: 0 auto;
      margin-top: 255px; }
      @media (max-width: 568px) {
        body .wrap .main {
          margin-top: 80px; } }
      body .wrap .main h2 {
        font-size: 52px;
        font-weight: 600;
        padding-bottom: 30px; }
        @media (max-width: 568px) {
          body .wrap .main h2 {
            font-size: 46px;
            line-height: 1.3; } }
        body .wrap .main h2 br {
          display: none; }
          @media (max-width: 568px) {
            body .wrap .main h2 br {
              display: block; } }
      body .wrap .main hr {
        background-color: #ffffff;
        height: 1px; }
      body .wrap .main p {
        font-size: 18px;
        padding-top: 45px;
        letter-spacing: 2.6px;
        font-weight: 600;
        display: inline-block; }
        @media (max-width: 768px) {
          body .wrap .main p {
            display: block;
            font-weight: normal; } }
    body .wrap .linkButton {
      display: inline-block;
      width: 212px;
      color: #ffffff;
      border: solid 2px #ffffff;
      padding: 10px 20px;
      letter-spacing: 2.6px;
      text-decoration: none;
      margin-left: 60px;
      cursor: pointer; }
      @media (max-width: 768px) {
        body .wrap .linkButton {
          margin-left: 0;
          margin-top: 30px; } }
      body .wrap .linkButton:hover {
        color: #e0104d;
        border: #e0104d solid 2px;
        -webkit-transition: all .3s;
        transition: all .3s; }
      body .wrap .linkButton i {
        padding-left: 70px; }
    body .wrap .collection {
      margin-top: 215px;
      padding-top: 50px; }
      @media (max-width: 568px) {
        body .wrap .collection {
          margin-top: 100px; } }
      body .wrap .collection .product {
        margin-top: 25px;
        position: relative; }
        @media (max-width: 768px) {
          body .wrap .collection .product {
            margin-top: 16px; } }
        body .wrap .collection .product:nth-child(odd) {
          padding-right: 16px !important;
          padding-left: 0px !important; }
          @media (max-width: 1440px) {
            body .wrap .collection .product:nth-child(odd) {
              padding-right: 12px !important; } }
          @media (max-width: 1024px) {
            body .wrap .collection .product:nth-child(odd) {
              padding-right: 9px !important; } }
          @media (max-width: 568px) {
            body .wrap .collection .product:nth-child(odd) {
              padding-right: 0px !important; } }
        body .wrap .collection .product:nth-child(even) {
          padding-left: 16px !important;
          padding-right: 0px !important; }
          @media (max-width: 1440px) {
            body .wrap .collection .product:nth-child(even) {
              padding-left: 12px !important; } }
          @media (max-width: 1024px) {
            body .wrap .collection .product:nth-child(even) {
              padding-left: 9px !important; } }
          @media (max-width: 568px) {
            body .wrap .collection .product:nth-child(even) {
              padding-left: 0px !important; } }
        body .wrap .collection .product .productButton {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover; }
        body .wrap .collection .product .infoOn {
          opacity: 0.5;
          background-color: transparent;
          -webkit-transition: opacity 0.35s ease;
          transition: opacity 0.35s ease; }
        body .wrap .collection .product .productInfo {
          display: none;
          height: 100%;
          width: calc(100% - 15px);
          position: absolute;
          top: 0;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          text-decoration: none; }
          body .wrap .collection .product .productInfo .detail {
            width: 75%;
            height: 100%;
            margin: 0 auto;
            text-align: left; }
            body .wrap .collection .product .productInfo .detail h2 {
              color: #ffffff;
              font-size: 20px;
              letter-spacing: normal; }
            body .wrap .collection .product .productInfo .detail p {
              color: #ffffff;
              font-size: 14px;
              margin-top: 1rem; }
            body .wrap .collection .product .productInfo .detail hr {
              background-color: #ffffff;
              height: 1px;
              width: 100%; }
        body .wrap .collection .product a {
          display: block;
          height: 600px; }
          @media (max-width: 1440px) {
            body .wrap .collection .product a {
              height: 360px; } }
          @media (max-width: 768px) {
            body .wrap .collection .product a {
              height: 430px; } }
          @media (max-width: 568px) {
            body .wrap .collection .product a {
              height: 330px; } }
          body .wrap .collection .product a img {
            width: 100%;
            height: 100%; }
    body .wrap .aboutMe {
      color: #ffffff;
      padding-top: 55px; }
      body .wrap .aboutMe h2 {
        width: 11%;
        min-width: 163px;
        margin-left: 15.2%;
        font-size: 52px;
        font-weight: 600;
        padding-top: 40px; }
        @media (max-width: 568px) {
          body .wrap .aboutMe h2 {
            margin-left: 11.2%; } }
      body .wrap .aboutMe hr {
        background-color: #ffffff;
        height: 2px;
        width: 11%;
        min-width: 155px;
        margin-left: 15.2%; }
        @media (max-width: 568px) {
          body .wrap .aboutMe hr {
            margin-left: 11.2%; } }
      body .wrap .aboutMe p {
        font-size: 18px;
        line-height: normal;
        margin: 30px 15.2%; }
        @media (max-width: 568px) {
          body .wrap .aboutMe p {
            margin: 30px 11.2%;
            font-weight: lighter;
            font-size: 14px; } }
      body .wrap .aboutMe .resumeButton {
        margin-left: 15.2%;
        margin-bottom: 65px; }
        @media (max-width: 568px) {
          body .wrap .aboutMe .resumeButton {
            margin-left: 11.2%; } }
    body .wrap .collectModal .modal {
      padding-right: 0px !important; }
    body .wrap .collectModal .modal-dialog {
      max-width: 70% !important; }
      @media (max-width: 768px) {
        body .wrap .collectModal .modal-dialog {
          max-width: 90% !important; } }
    body .wrap .collectModal .modalWrap {
      margin: 0 auto;
      position: relative;
      top: 10%;
      padding: 75px;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.9); }
      @media (max-width: 768px) {
        body .wrap .collectModal .modalWrap {
          padding: 40px; } }
    body .wrap .collectModal .close {
      position: absolute;
      top: -40px;
      right: -40px;
      cursor: pointer; }
    body .wrap .collectModal .collectImg .box {
      width: 47.5%;
      display: inline-block; }
      @media (max-width: 568px) {
        body .wrap .collectModal .collectImg .box {
          width: 100%;
          display: block;
          margin-bottom: 10px; } }
      body .wrap .collectModal .collectImg .box img {
        max-width: 100%;
        height: auto;
        cursor: -webkit-zoom-in;
        cursor: zoom-in; }
    body .wrap .collectModal .collectImg .firstImg {
      padding-bottom: 20px; }
      @media (max-width: 568px) {
        body .wrap .collectModal .collectImg .firstImg {
          display: block !important;
          padding-bottom: 0px; } }
    @media (max-width: 568px) {
      body .wrap .collectModal .collectImg .secondImg {
        display: block !important; } }
    body .wrap .collectModal .modal-content {
      background-color: transparent;
      border: none; }
      body .wrap .collectModal .modal-content h2 {
        letter-spacing: 0.5px;
        color: #1e2642;
        font-size: 42px;
        font-weight: 600;
        width: 265px;
        border-bottom: 2px solid #1e2642;
        padding-bottom: 25px; }
        @media (max-width: 568px) {
          body .wrap .collectModal .modal-content h2 {
            width: 80%; } }
      body .wrap .collectModal .modal-content h3 {
        font-size: 24px;
        color: #1e2642;
        padding: 20px 0 15px 0; }
      body .wrap .collectModal .modal-content p {
        padding-bottom: 75px;
        line-height: normal;
        font-size: 14px; }
  body .active {
    display: block !important; }
  body .lightcase-icon-close i {
    color: white; }
  body .menuOpen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none; }
    body .menuOpen .closeButton {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #ffffff; }
      body .menuOpen .closeButton:hover {
        -webkit-transition: 0.3s color;
        transition: 0.3s color;
        color: #e0104d; }
    body .menuOpen ul {
      width: 240px;
      margin: 0 auto;
      text-align: center;
      margin-top: 10%; }
      body .menuOpen ul .borderSetting {
        border-bottom: solid 1px rgba(212, 212, 255, 0.5); }
      body .menuOpen ul .buttonSetting {
        padding-top: 0; }
      body .menuOpen ul li {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2.6px;
        padding: 13px 0px; }
        body .menuOpen ul li a {
          color: #ffffff;
          text-decoration: none; }
          body .menuOpen ul li a:hover {
            color: #e0104d;
            -webkit-transition: all .3s;
            transition: all .3s; }
        body .menuOpen ul li .buttonInMenu {
          display: inline-block;
          color: #ffffff;
          border: solid 2px #ffffff;
          padding: 10px 20px;
          letter-spacing: 2.6px;
          text-decoration: none;
          margin-left: 0;
          text-align: left; }
          body .menuOpen ul li .buttonInMenu:hover {
            border: solid 2px #e0104d; }
          body .menuOpen ul li .buttonInMenu i {
            padding-left: 65px; }

/*# sourceMappingURL=all.css.map */
